:root {

    /* Primary Colours */
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-orangy-yellow: hsl(39, 100%, 56%);
    --clr-green-teal: hsl(166, 100%, 37%);
    --clr-cobalt-blue: hsl(234, 85%, 45%);
    --clr-light-red-light: hsla(0, 100%, 67%, 0.05);
    --clr-orangy-yellow-light: hsla(39, 100%, 56%, 0.05);
    --clr-green-teal-light: hsla(166, 100%, 37%, 0.05);
    --clr-cobalt-blue-light: hsla(234, 85%, 45%, 0.05);

    /* Gradient Colours */
    --clr-light-slate-blue: hsl(252, 100%, 67%);
    --clr-light-royal-blue: hsl(241, 81%, 54%);
    --clr-violet-blue: hsla(256, 72%, 46%, 0.9);
    --clr-persian-blue: hsla(241, 72%, 46%, 0.95);

    /* Neutral Colours */
    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-light-lavender: hsl(241, 100%, 89%);
    --clr-dark-grey-blue: hsl(224, 30%, 27%);
    --clr-dark-grey-blue-light: hsla(224, 30%, 27%, 0.5);

    /* Gradients */
    --grad-light: linear-gradient(180deg, var(--clr-light-slate-blue) 0%, var(--clr-light-royal-blue) 100%);
    --grad-dark: linear-gradient(180deg, var(--clr-violet-blue) 0%, var(--clr-persian-blue) 100%);
    --grad-dark-invert: linear-gradient(0, var(--clr-violet-blue) 0%, var(--clr-persian-blue) 100%);

    /* Font Families */
    --font-primary: 'Hanken Grotesk', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

/* Based on the browser setting the default size to 16px, this resets to 10px, meaning that throughout the site 1rem = 10px  making calculations easier */

html {
    font-size: 62.5%;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.8rem;
    font-family: var(--font-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.results {
    max-width: 45rem;
    width: 100%;
    text-align: center;
}

.results_summary {
    padding: 2rem 6rem 4rem;
    background: var(--grad-dark);
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    color: var(--clr-light-lavender);
}

.results_summary__header h1 {
    font-weight: 700;
    font-size: 2rem;
}

.results_summary__score {
    padding: 2rem;
    border-radius: 50%;
    background: var(--grad-dark-invert);
    overflow: hidden;
    width: 14.5rem;
    height: 14.5rem;
    margin: 2rem auto;
}

.results_summary__score_achieved {
    color: var(--clr-white);
    font-size: 6rem;
    font-weight: 800;
}

.results_summary__score_available {
    font-size: 1.5rem;
}

.results_summary__description_header {
    color: var(--clr-white);
    font-size: 2.5rem;
    font-weight: 800;
}

.results_breakdown {
    padding: 3rem 4rem;
    text-align: left;
}

.results_breakdown__header {
    font-weight: 800;
    margin-bottom: 2.5rem;
}

.results_breakdown__list_item {
    display:flex;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.results_breakdown__list_icon {
    margin-right: 2rem;
}

.results_breakdown__list_score {
    margin-left: auto;
}

.results_breakdown__list_item {
    color: var(--clr-dark-grey-blue-light);
    font-weight: 700;
}

.results_breakdown__list_item.reaction {
    background: var(--clr-light-red-light);
}

.results_breakdown__list_item.memory {
    background: var(--clr-orangy-yellow-light);
}

.results_breakdown__list_item.verbal {
    background: var(--clr-green-teal-light);
}

.results_breakdown__list_item.visual {
    background: var(--clr-cobalt-blue-light);
}

.results_breakdown__list_item.reaction .results_breakdown__list_title {
    color: var(--clr-light-red);
}

.results_breakdown__list_item.memory .results_breakdown__list_title {
    color: var(--clr-orangy-yellow);
}

.results_breakdown__list_item.verbal .results_breakdown__list_title {
    color: var(--clr-green-teal);
}

.results_breakdown__list_item.visual .results_breakdown__list_title {
    color: var(--clr-cobalt-blue);
}

.results_breakdown__list_score__achieved {
    font-weight: 800;
    color: var(--clr-dark-grey-blue);
}

.btn__primary {
    width: 100%;
    padding: 1.5rem;
    border-radius: 3rem;
    border: none;
    background: var(--clr-dark-grey-blue);
    color: var(--clr-white);
}

.attribution { 
    margin-top: auto;
    font-size: 1.1rem; 
    text-align: center;
    padding: 1.8rem;
    width: 100%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}